
# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc

# ------------------------------
# Packaging / build artifacts
# ------------------------------
*.egg-info/*

# ------------------------------
# test folder
# ------------------------------
test/*
!test/test.py
!test/terminal.py

# ------------------------------
# .vscode folder
# ------------------------------
.vscode/
