
# ------------------------------
# Python cache
# ------------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------------
# Packaging / build artifacts
# ------------------------------
build/
dist/
*.egg-info/

# ------------------------------
# Test data
# ------------------------------
test/*
